.last-box {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 300px;
    width: 1600px;
    margin: -150px 0 0 -800px;
  
    text-align: center;
    font-family: 'siwol1';
  
  }

.last-box button {
    display: absolute;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 120px;
    height: 50px;
    border: 2.2px solid rgb(172, 172, 172);
    border-radius: 5px;
    font-family: 'siwol2';
}