
.progress-main {
    width: 800px;
    text-align: left;
    font-size: 20px;
}

.progress-bar {
    margin-top: 15px;
    background-color: rgb(224, 224, 224);
    border-radius: .5rem;
}

.progress-colored {
    background-color: rgb(129, 194, 255);
    height: 17px;
    border-radius: 1rem;
    transition: 0.9s ease;
}