
.progress-nav {
    display: inline-block;
}

.progress-bar {
    display: inline-block;
    margin-top: 15px;
    background-color: rgb(233, 233, 233);
    border-radius: .5rem;
}

.progress-colored {
    background-color: rgb(62, 122, 235);
    height: 10px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}