
.progress-nav {
    display: inline-block;
}

.progress-bar {
    display: inline-block;
    margin-top: 15px;
    background-color: rgb(224, 224, 224);
    border-radius: .5rem;
}

.progress-colored {
    background-color: rgb(129, 194, 255);
    height: 10px;
    border-radius: 1rem;
    transition: 0.7s ease;
}